## General
*.swm
*.swn
*.swo
*.swp
*.log
*.lock
*.pid
.DS_Store

## Testing
/repositories

## Ember
# compiled output
integrations-client/dist
integrations-client/tmp

# dependencies
integrations-client/node_modules
integrations-client/bower_components

# misc
integrations-client/.sass-cache
integrations-client/connect.lock
integrations-client/coverage/*
integrations-client/libpeerconnection.log
integrations-client/npm-debug.log*
integrations-client/testem.log

*.rdb

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
