packages: 
  yum:
    gcc-c++: [] 
    make: []
    git-all: []
    #mysql-devel: []
    #ruby-devel: []

sources:
  /home/ec2-user: http://download.redis.io/releases/redis-3.2.9.tar.gz

files:
  "/tmp/45_nginx_https_rw.sh":
    owner: root
    group: root
    mode: "000644"
    content: |
      #! /bin/bash

      nginx=/opt/elasticbeanstalk/support/conf/nginx_config_healthd.erb

      CONFIGURED=`grep -c "return 301 https" $nginx`

      echo "NGINX CONFIGURATION-----"
      echo $CONFIGURED
      echo $nginx

      if [ $CONFIGURED = 0 ]
        then
          sed -i '/standalone_default_root/a \    if ($http_x_forwarded_proto = "http") { return 301 https://$host$request_uri; }\n' $nginx
          sed -i '/passenger_app_root/a \    if ($http_x_forwarded_proto = "http") { return 301 https://$host$request_uri; }\n' $nginx
          echo "CONFIGURED."
          logger -t nginx_rw "https rewrite rules added"
          exit 0
        else
          logger -t nginx_rw "https rewrite rules already set"
          echo "ALREADY CONFIGURED."
          exit 0
        fi

container_commands:
  00_appdeploy_rewrite_hook:
    command: cp -v /tmp/45_nginx_https_rw.sh /opt/elasticbeanstalk/hooks/appdeploy/enact
  01_configdeploy_rewrite_hook:
    command: cp -v /tmp/45_nginx_https_rw.sh /opt/elasticbeanstalk/hooks/configdeploy/enact
  02_rewrite_hook_perms:
    command: chmod 755 /opt/elasticbeanstalk/hooks/appdeploy/enact/45_nginx_https_rw.sh /opt/elasticbeanstalk/hooks/configdeploy/enact/45_nginx_https_rw.sh
  03_rewrite_hook_ownership:
    command: chown root:users /opt/elasticbeanstalk/hooks/appdeploy/enact/45_nginx_https_rw.sh /opt/elasticbeanstalk/hooks/configdeploy/enact/45_nginx_https_rw.sh
  redis_build:
    command: make
    cwd: /home/ec2-user/redis-3.2.9
  redis_cli:
    command: cp src/redis-cli /usr/local/bin/
    cwd: /home/ec2-user/redis-3.2.9

