/* main layout */
html {
    position: relative;
    min-height: 100%;
    height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 0px;
    margin-top:0px;
    min-height: 100%;
    height:100%;
    /*background-color: #28B6C3;*/
    background-color:#f9f9f9;
    font-family: 'Lato', sans-serif;
    font-weight:400;
    font-size:14px;
    /*color: #4C4C4C;*/
    color: #4C4C4C;
    /*    -webkit-font-smoothing: subpixel-antialiased; */
}
.body-dark{
   background-color: #111;
}
.rounded{
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px !important;
}
.rounded-bottom{
    -webkit-border-radius: 0px 0px 3px 3px !important;
    -moz-border-radius: 0px 0px 3px 3px !important;
    border-radius: 0px 0px 3px 3px !important;
}
.shadow{
    box-shadow: 0 2px 3px rgba(0,0,0,.1);
}
h1{
    font-size:42px;
    line-height:48px;
    font-weight:900;
}
h2{
    font-size:32px;
    line-height:36px;
    font-weight:400;
}
h3{
    font-weight:300;
    font-size:22px;
    margin-top:22px;
    line-height:26px;
    margin-top:0px;
}
h4{
    font-size:14px;
    line-height:18px;
    font-weight:300;
    margin-bottom:5px;
}
button,a{
    cursor:pointer;
}
a {
    color: #28B6C3;
}
a:hover {
    color: #20919c;
}
.cursor-pointer{
    cursor:pointer;
}
.fa-stack{
    margin-top:-3px;
}
.fa-stack{
    text-decoration:none;
}
.fa-stack .value{
    color: #fff;
}
.fa-stack-2x{
    color: orange;
}
label{
    margin-bottom:2px;
    font-weight:400;
}
.btn, a{
    font-weight: 400;
    text-transform: capitalize;
}
.btn{
    padding:10px;
    color: #fff !important;
    border:0px;
}
.btn-sm{
    padding: 6px;
}
.btn:hover{
    border:0px;
}
.btn-secondary{  
    background-color:#28B6C3;
}
.btn-secondary:hover{
    background-color:#20919c;
}
.btn-outline-secondary{
    background-color: #999;
    color:#fff;
}
.btn-group{
    display:inline-block;
}
.btn-group label{
    margin-left:4px !important;
    background-color: #3a3a3a;
    color: #fff !important;
    font-weight:400 !important;
}
.btn-group label:hover{
    background-color: #28B6C3;
    color: #fff !important;
}
.btn-group label.active{
    background-color: #28B6C3;
    color: #fff !important;
}

.badge, .btn-group label{
    font-weight: 300;
    font-size: 12px;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    margin:1px;
    border:0px;
}

.badge.selected{
    background-color: #28B6C3;
}
.badge.unselected{
    background-color: #fff;
    color: #28B6C3;
}
.badge.role, .btn-group label{
    font-size: 14px;
    padding: 10px;
    margin: 4px;
}


.dropdown-menu{
    width:100%;
}
.orange{
    color: orange;
}
.text-muted{
    color: #a5a5a5;
}
.highlight-true{
    background-color: #fff;
}
.highlight-false{
    border-bottom: 2px solid #28B6C3 !important;
}
.bg-inverse {
    background-color: transparent !important;
}
.navbar{
    min-height:50px;
    margin-bottom:0px;
    z-index:99;
}
.navbar-static-top{
    margin-top:-56px;
}
.navbar-right{
    margin-right:0px !important;
}
.navbar-brand{
    background-image: url('w7_logo_dark_11_15_16_small.png');
    width:130px;
    height:35px;
    margin-top:3px;
    background-repeat: no-repeat;
}
.body-dark .navbar-brand{
    background-image: url('w7_logo_dark_11_15_16_small.png');
}
.navbar-default{
    padding:0px;
    background-color:#333;
    border-color:#333;
    padding-left:10px;
    padding-right:10px;
}
.navbar-default.clear {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    background-color:transparent !important;
}
.navbar-default .navbar-nav > li > a {
    margin-left:8px;
    margin-top:8px;
    background-color:#68B6C3 !important;
    text-decoration:none;
    border: 0px; 
    height:44px;
    padding-top:11px;
    color:#fff !important;
}
.navbar-default .navbar-nav > li.active > a{
    color: #fff !important;
    background-color:transparent !important;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    margin:0px;
    border:0px;
    box-shadow:none;
}

.body-dark .navbar-default .navbar-nav > li > a {
    border: 0px solid #fff;
    color: #fff;
}
.body-dark .navbar-default .navbar-nav > li.active > a{
    color: #fff !important;
}
.body-background .navbar-default .navbar-nav > li > a {
    border: 0px; 
    border-bottom: 1px solid #fff !important;
    color: #fff;
    background-color:transparent !important;
}

.navbar-default .navbar-toggle {
    border: 2px solid transparent;
}

.navbar-toggler {
    border: 0px;
}
.navbar-inverse .navbar-toggler-icon{
    margin-top:6px;
}
input, textarea{
    border:none !important;
    background-color: #f9f9f9;
}
input{
    margin-bottom:10px;
    height:40px;
}
button{ 
    border: none;   
}    

.list-group-item{
    color: #4C4C4C;
    background-color:#fff;
    border: 1px solid #ededed;
    margin-bottom:5px;
}
.list-group-item.active{
    border:0px;
    color:#fff;
    background-color:#4c4c4c;
    margin-bottom:5px;
}
.list-group-item h4{
    font-weight:600;
}
.list-group-item.active h4{
    padding-top:4px;
}
.list-group-item.active a{
    color: orange;
}
.list-group-item p{
    font-weight:300;
}
.list-group-item .line{
    position:relative;
    width:100%;
    margin-bottom:5px;
}
.list-group-item .line.quotation{
    color: #999;
    padding:10px;
}

.input-group-addon{
    background-color:#fff;
    border:0px solid #fff !important;
    background-color:#fff;
    color: #28B6C3;
}
.modal{
    position:relative;
}
.modal.modal-fixed{
    position: fixed !important;
}
.modal-content{
    background-color: #333;
    border:0px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
.modal.in {
    display:block;
}
.modal-content{

}
.modal-header{
    border:0px;
    padding:10px;
    color: #fff;
    padding-bottom:5px;
    padding: 25px;
    padding-bottom:0px;
}
.modal-header .title{
    font-size:22px;
    font-weight:400;
}
.modal-header.subtitle{
    padding-top:0px;
}
.modal-body{
    padding:25px;
    padding-top:10px;
}
.modal-foot{
    padding: 10px;
    border: 0px;
    background-color: #3a3a3a;
}
.modal-foot a{
    text-decoration:none;
    display:block;
    padding:10px;
    font-weight:300;
}
.fullscreen {
    position:fixed;
    top:0px; 
    left:0px;
    height:100%;
    width:100%;
    background: url("italy.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.four-oh-four{
    color: #28B6C3;
}
.vertical-align-hold{
    display: table;
    position: absolute;
    left:0px; 
    top:0px;
    height: 100%;
    width: 100%;    
}
.hidden-md-up .vertical-align-hold{
    position: relative;
    overflow: visible;
}
.vertical-align-cell{
    display: table-cell;
    vertical-align: middle;
}

.background{
    position:absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    background-color:#fff;
    filter: alpha(opacity=85);    
    -moz-opacity: 0.85;   
    -webkit-opacity: 0.85;   
    -khtml-opacity: 0.85;   
    opacity: 0.85;
    z-index:-1;
}
.background-white{
    background-color:#fff;
    filter: alpha(opacity=50);
    -moz-opacity: 0.70;
    -webkit-opacity: 0.70;
    -khtml-opacity: 0.70;
    opacity: 0.70;
}
.register-form {
    margin: 0 auto 0px;
    padding: 0px;
    text-align: center;
    border:0px;
    padding:0px;
}
.register-form .form-group{
    margin-bottom:0px;

}
.register-form input{
    background-color: #3a3a3a;
    color: #fff !important;
}
.register-form button{
    margin-top:10px;
    background-color: orange;
    font-size:20px;
}
.register-form .btn-group label{
    margin-bottom: 0px;
    margin-top:6px;
}
.register-form .tos{
    margin-top:10px; 
    color: #fff;
}
.register-form .form-control,.register-form .form-control[disabled]{
    background-color: #3a3a3a;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    position: relative;
    height: 100vh;
    width: 100%;
    margin-bottom:0px;
    margin-top:-55px;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100%;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    color: #4C4C4C;
    padding: 5px;
    z-index: 10;
    bottom: 0px;
    right: 0px !important;
    left: auto;
}
.carousel-text{
    position: absolute;
    width:100%;
    top: 40vh;
    color: #fff;
    z-index: 10;
    text-shadow: 2px 2px 8px #000;
}
/* Declare heights because of positioning of img element */
.carousel-item {
    background-color: #777;
    height: 100vh;
}
.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #4C4C4C;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    font-weight:300;
    min-width:100px;
    max-width:100px;
}
.sidebar.hidden-md-up{
    background-color: #333;
    margin-top: 0px;
    padding:0px;
    position:relative;
    min-width:100%;
    max-width:100%;
}

.sidebar .nav, .sidebar.hidden-md-up .nav {

}
.sidebar.hidden-md-up .nav li{
    text-align:left !important;
}
.sidebar .nav li, .sidebar.hidden-md-up .nav li{
    color: #28B6C3;
    margin:0px;
    padding:10px;
    background-color: #333;
    border-bottom: 0px solid #333;
    color: #cfcfcf;
    width:100%;
    display:block;
    position:relative;
}
.sidebar.hidden-md-up .nav .legal li{
    padding-left:10px !important;
    padding-right:10px !important;

}

.sidebar .nav .menu{ 

}

.sidebar.hidden-md-up .nav .menu{
    padding-bottom:0px;
}

.sidebar .nav .menu li.active{
    background-color: #4c4c4c;
    color: #cfcfcf;
}
.sidebar .nav .menu li.active.selectable{
    background-color: #28B6C3;
    color: #fff;
}
.legal{
    font-size:12px;
    color:#666;
}
.menu.legal li{
    padding:3px !important;
}
.menu.legal li.copy{
    color:#999 !important;
    font-size:11px;
    text-align:center;
}

.sidebar .nav .menu li, .sidebar.hidden-md-up .nav .menu li{
    color: #28B6C3;
    margin:0px;
    padding:10px;
    border-bottom: 0px;
    color: #cfcfcf;     
    width:100%;
    background-color: #4c4c4c;
    display:block;              
    position:relative;              
} 

.sidebar .nav li.active,.sidebar.hidden-md-up .nav li.active{
    background-color: #28B6C3;
    color: #fff;
}

.sidebar button{
    padding: 8px; 
}
.sidebar button:hover{
    background-color:transparent;
    color: #ccc;
}
.sidebar .dropdown, .sidebar.hidden-md-up .dropdown{
    color: #fff;
    cursor:pointer;
    margin:5px;
    margin-top:20px !important;
}
.sidebar li.nav-item .icon{
    margin-bottom: 5px;
}
.main{
    margin:0px;
}
.main.center{
    margin:0 auto 0;
}
.main .slide{ /* need alternative for mobile */
    position:fixed;
    left:0px;
    top:0px;
    height:100%;
    min-height:100%;
    margin-left: 100px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #ededed;
}
.main .slide.full{
    margin-left:0px;
}
.main .slide.hidden-md-up{
    position:relative;
    margin-left:0px;
}
.main .footprint{
    position:absolute;
    padding:5px;
    font-weight:300;
    padding-top:10px;
    padding-bottom:2px;
    color: #ccc;
    z-index:1;
}
.main .about{
    padding:5px;
    padding-top:0px;
    font-weight:300;
    margin-bottom:10px;
    color: #a5a5a5;
}
.main .about.section{
    padding-bottom:0px;
    margin-bottom:2px;
}
.main h4.about.section{
    margin-bottom:5px;
}
.main .slide .skillsets{
    margin-bottom:20px;
}
.main .slide .skillsets a{
    text-decoration:none;
}
.main .slide.hidden-md-up .about{
    margin-bottom:10px;
}
.main .overview{
    padding:20px;
    padding-top:50px;
}
.main .hidden-md-up .overview{
    margin-top:20px;
}
.main .still{
    margin-top:0px;
    padding-left:60px;
    padding-right:60px;
    padding-bottom:50px;
}
.main .still.hidden-md-up{
    margin-top:0px;
}
.main .still.hidden-sm-down{
    min-height: 100%;
    position: fixed;
    height: 100%;
    overflow: scroll;
}
.main .still .header{
    padding-top:94px;
}
.main .still .full{
    margin-top:94px;
}
.main .overview .description{
    font-weight:300;
    margin-bottom:5px;
}
.main .slide.hidden-md-up .overview .description, .main .slide.hidden-md-up .overview .name, .main .slide.hidden-md-up .about{
    text-align:left !important;   
}
.main .overview .score{
    margin-bottom:10px;
    padding:10px;
    border-bottom:5px solid #f9f9f9; 
}
.main .overview .score .title {

}
.main .overview .score .total {
    font-weight: 500;
    font-size: 40px;
}

.main textarea, .main input{
    border: 1px solid #ededed !important;
    background-color: #ededed !important;
}

.legal-doc h3{
    margin-top:10px;
    font-weight:400;
}
.legal-doc .effective{
    color: orange;
}

/* Placeholders */
::-webkit-input-placeholder {
    color: #a5a5a5 !important;
}

:-moz-placeholder { /* Firefox 18- */
    color: #a5a5a5 !important;
}
::-moz-placeholder {  /* Firefox 19+ */
    color: #a5a5a5 !important;
}

.placeholders {
    padding-bottom: 3rem;
}

.placeholder img {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

/* misc */
* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important; 
}
.badge{
}

.form-control{
    color: #4C4C4C !important;
    font-weight:300;
    font-size: 14px;
}
textarea.form-control{

}
.form-control[disabled]{
    color: #fff;
    background-color:#fff;
}
.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome and Opera */
}

