<div class="row main">
<div class="col-md-5 col-sm-12 offset-md-1 slide">{{sprint-state-overview sprint=model.sprint selected-state=model.selected_state}}</div>
<div class="col-md-5 col-sm-12 offset-md-6 still">{{sprint-state-content selected-state=model.selected_state last-state=model.last_state}}</div>
</div>

