<div class="col-md-6 col-sm-12 offset-md-6 still hidden-sm-down">{{profile-content-connections connections=model.connections requests=model.requests}}</div>
<div class="col-md-6 col-sm-12 offset-md-6 still hidden-md-up">{{profile-content-connections connections=model.connections requests=model.requests}}</div>
