<div class="col-md-5 col-sm-12 offset-md-0 slide hidden-sm-down">{{profile-overview-aggregates aggregate="Winning Solutions" user=model.user skillsets=model.skillsets roles=model.roles me=model.me params=model.params items=model.contributors_received refresh="refresh"}}</div>
<div class="col-md-5 col-sm-12 offset-md-0 slide hidden-md-up">{{profile-overview-aggregates aggregate="Winning Solutions" user=model.user skillsets=model.skillsets roles=model.roles me=model.me params=model.params items=model.contributors_received refresh="refresh"}}</div>
<div class="col-md-6 col-sm-12 offset-md-6 still hidden-sm-down">{{profile-content-stats col=12 me=model.me user=model.user params=model.params contributors_received=model.contributors_received}}</div>
<div class="col-md-6 col-sm-12 offset-md-6 still hidden-md-up">{{profile-content-stats col=12 me=model.me user=model.user params=model.params contributors_received=model.contributors_received}}</div>
