{{me-home-overview class="col-md-12 col-sm-12 offset-md-0 top hidden-sm-down pb-0 bg-nav" user=model.user}}
{{me-home-overview class="col-md-12 col-sm-12 offset-md-0 top hidden-md-up pb-0 bg-nav" user=model.user}}

<div class="col-md-12 offset-md-0 col-sm-12">
    {{user-invite-registered invitation=model.invitation token=model.token}}
</div>
