<div class="col-md-6 col-sm-12 offset-md-6 still hidden-sm-down">{{profile-content-notifications notifications=model.notifications params=model.params}}</div>
<div class="col-md-6 col-sm-12 offset-md-6 still hidden-md-up">{{profile-content-notifications notifications=model.notifications params=model.params}}</div>
