<div class="col-md-5 col-sm-12 offset-md-0 slide hidden-sm-down">{{profile-overview-notifications-settings notifications-settings=model.notifications_settings roles=model.roles}}</div>
<div class="col-md-5 col-sm-12 offset-md-0 slide hidden-md-up">{{profile-overview-notifications-settings notifications-settings=model.notifications_settings roles=model.roles}}</div>