<div class="main">
    <div class="container mb-5">
        <h2>List of Connections</h2>
        <ul>
            {{#each connections as |connection|}}
            <li>{{connection}}</li>
            {{/each}}
        </ul>
    </div>
</div>
