<div class="main">
    <div class="container mb-5">
        <h2>List of Connections</h2>
        <ul>
            {{#each model.connections as |connection|}}
            <li>Username:{{connection.name}} Email:{{connection.email}}</li>
            {{/each}}
        </ul>
    </div>
</div>
