<nav class="navbar navbar-default navbar-static-top">
{{application-nav}}
</nav>
<div class="welcome">
    <div class="background"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12 text-left split vcenter">
                <h1>Plan, Design, Develop, Test with Us</h1>  
                <h3>Wired7 manages themed, fictional web applications that allow you to show off your skills and receive team feedback in a fun but real development environment.</h3>
            </div><!--
            --><div class="col-md-6 col-xs-12 text-left split vcenter">
                {{user-register roles=model.roles}}
            </div>

        </div>
    </div>
</div>
{{project-carousel}}
{{user-logout}}
