<div class="main">
    <div class="container mb-5">
        <h2>List of Notifications</h2>
        <ul>
            {{#each model as |notification|}}
            <li>{{notification}}</li>
            {{/each}}
        </ul>
    </div>
</div>
