{{title "Roadmap"}}

<div class="container-fluid pl-0 pr-0">
    <main class="col-sm-12 col-md-12 offset-sm-0">
        <div class="row main">
            {{roadmap-list jobs=model.jobs class="row"}}
        </div>
    </main>
</div>
