<div class="container main center">
    <div class="row">
        <div class="col-md-8 col-sm-12 offset-md-2">
            <h1 class="text-uppercase text-center">{{model.team.name}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-sm-12 offset-md-2">
            {{user-team-invite team=model.team refresh="refresh"}}            
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-sm-12 offset-md-2">
            {{user-team-list user_teams=model.user_teams}}
        </div>
    </div>
</div>
