{{title "Password Reset"}}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-sm-12">
            {{user-reset token=model.token}} 
        </div>
    </div>
</div>

