<div class="hidden-sm-down col-md-7 col-sm-12">{{team-content-connections connections=model.connections team=model.team}}</div>
<div class="hidden-md-up col-md-7 col-sm-12">{{team-content-connections connections=model.connections team=model.team}}</div>
