<div class="hidden-sm-down">{{team-content-jobs team=model.team jobs=model.jobs user=model.user roles=model.roles refresh="refresh"}}</div>
<div class="hidden-md-up">{{team-content-jobs team=model.team jobs=model.jobs user=model.user roles=model.roles refresh="refresh"}}</div>

