<div class="hidden-sm-down">{{team-content user_teams=model.user_teams team=model.team refresh="refresh" default_seat_id=model.default_seat_id default_seat_name=model.default_seat_name}} {{application-foot class="foot-hold text-center"}}</div>
<div class="hidden-md-up">{{team-content user_teams=model.user_teams team=model.team refresh="refresh" default_seat_id=model.default_seat_id default_seat_name=model.default_seat_name}} {{application-foot class="foot-hold text-center"}}</div>
