<div class="col-md-5 col-sm-12 offset-md-0 slide hidden-sm-down">{{team-overview-notifications notifications=model.notifications}}</div>
<div class="col-md-5 col-sm-12 offset-md-0 slide hidden-md-up">{{team-overview-notifications notifications=model.notifications}}</div>
<div class="col-md-6 col-sm-12 offset-md-6 still hidden-sm-down">{{team-content-notifications notifications=model.notifications params=model.params}}</div>
<div class="col-md-6 col-sm-12 offset-md-6 still hidden-md-up">{{team-content-notifications notifications=model.notifications params=model.params}}</div>