<div class="hidden-sm-down"><div class="full">{{user-team-list user_teams=model.user_teams default_seat=model.share_seat class="mt-4"}} {{application-foot class="foot-hold text-center"}}</div></div>
<div class="hidden-md-up"><div class="full">{{user-team-list user_teams=model.user_teams default_seat=model.share_seat class="mt-4"}} {{application-foot class="foot-hold text-center"}}</div></div>
