<div class="hidden-sm-down row">{{user-team-list user_teams=model.user_teams default_seat_id=model.share_seat.id default_seat_name=model.share_seat.name class="col-md-7 col-sm-12"}}</div>
<div class="hidden-md-up row">{{user-team-list user_teams=model.user_teams default_seat_id=model.share_seat.id default_seat_name=model.share_seat.name class="col-md-7 col-sm-12"}}</div>
