<div class="hidden-sm-down">{{team-content jobs=model.jobs user_teams=model.user_teams team=model.team refresh="refresh" default_seat=model.default_seat share_seat=model.share_seat}} {{application-foot class="foot-hold text-center"}}</div>
<div class="hidden-md-up">{{team-content jobs=model.jobs user_teams=model.user_teams team=model.team refresh="refresh" default_seat=model.default_seat share_seat=model.share_seat}} {{application-foot class="foot-hold text-center"}}</div>
