<div class="hidden-sm-down">{{team-content jobs=model.jobs user_teams=model.user_teams team=model.team refresh="refresh" default_seat_id=model.default_seat_id default_seat_name=model.default_seat_name share_seat_id=model.share_seat_id share_seat_name=model.share_seat_name}}</div>
<div class="hidden-md-up">{{team-content jobs=model.jobs user_teams=model.user_teams team=model.team refresh="refresh" default_seat_id=model.default_seat_id default_seat_name=model.default_seat_name share_seat_id=model.share_seat_id share_seat_name=model.share_seat_name}}</div>
