<div class="dropdown-item">
    {{#link-to "me.notifications" tagName='li' href=false class="cursor-pointer nav-item text-capitalize" }}
        <i class="fa fa-fw fa-home"></i> Home
    {{/link-to}}
</div>
<div class="dropdown-item">
    {{#link-to "me.overview" tagName='li' href=false class="cursor-pointer nav-item text-capitalize" }}
    <i class="fa fa-fw fa-sort-amount-desc"></i> Profile
    {{/link-to}}                                                                                
</div>
<div class="dropdown-item">
    {{#link-to "me.settings" tagName='li' href=false class="cursor-pointer nav-item text-capitalize" }}
    <i class="fa fa-fw fa-wrench"></i> Settings
    {{/link-to}}
</div>
<div class="dropdown-item">                                                                                                                                                                                         
    {{user-logout}}                                                                                                                                                                                                                                         
</div>
