<div class="menu legal">
    {{#link-to "terms" tagName='li' href=false class="cursor-pointer nav-item text-center text-capitalize" }}Terms{{/link-to}}
    {{#link-to "privacy" tagName='li' href=false class="cursor-pointer nav-item text-center text-capitalize" }}Privacy{{/link-to}}
    <li class="copy">
        &copy; 2017, ATeam Technologies Inc. 
    </li>
</div>
