<div class="dropdown-item">
    {{#link-to "me.settings" tagName='li' href=false class="cursor-pointer nav-item text-capitalize" }}
    <i class="fa fa-fw fa-wrench"></i> Settings
    {{/link-to}}
</div>
<div class="dropdown-item">
    {{user-logout}}
</div>
