<div class="legal text-center">
    {{#link-to "terms" tagName='li' href=false class="cursor-pointer nav-item text-center text-capitalize" }}Terms{{/link-to}}
    {{#link-to "privacy" tagName='li' href=false class="cursor-pointer nav-item text-center text-capitalize" }}Privacy{{/link-to}}
    <div class="copy">&copy; 2017, ATeam Technologies Inc.</div>
</div>
