<div class="col-sm-12 col-md-12 text-center mt-3">
    <h1><i class="fa fa-map-o" aria-hidden="true"></i> Roadmap</h1>
    <h3 class="about section">Propose an idea for a project that commands the attention of a hiring manager</h3>
</div>
