<div class="dropdown mt-0 mr-1">
    <button class="btn btn-outline-secondary rounded dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Transitions
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {{#each states as |state|}}
        <button class="dropdown-item" {{action "transition" sprint.id state.id}}>{{state.name}}</button>
        {{/each}}
    </div>
</div>
