<div class="header">
    <div class="icon fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa {{state.fa_icon}} fa-stack-1x fa-inverse"></i>
    </div>
    <div class="info">
        <div class="name text-capitalize">{{state.name}}</div>
        <div class="description">{{state.description}}</div>
    </div>
    <div class="grid">
        <div class="box">
            {{#if instruction}}
            <div class="instruction pt-2 pb-2">{{state.instruction}}</div>
            {{/if}}
        </div>
    </div>
</div>
