<ul class="nav nav-pills flex-column timeline">
    {{#each sortedEvents as |event|}}
    <li class="nav-item stage">
        {{#if showingProject}}
        <div class="grid">
            <div class="box">
                <div class="point circular"></div>
                <div class="info header ml-0">
                    {{#link-to "develop.project.sprint" event.sprint.id}}
                    <div class="name text-capitalize"> Sprint {{event.sprint.id}}</div>
                    <div class="description mb-0">{{event.sprint.title}}</div>
                    {{/link-to}}
                </div>
            </div>
        </div>
        {{/if}}
        <div class="grid">
            <div class="box pb-2"> 
                <div class="change">
                    {{develop-timeline-compare project=model.project event=event previous_event=(previous "event" event.after)}}
                </div>
                <small class="text-muted">
                    {{moment-from-now event.created_at}}
                </small>
            </div>
        </div>
    </li>
    {{/each}}
</ul>

