<div id="carouselExampleControls" class="carousel slide shadow" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div class="d-block img-fluid mars_frontend" alt="Musk to Mars"></div>    
            <div class="text-center carousel-caption">
                <div class="background rounded"></div>
                <div class="carousel-text">showing <strong>wired7-projects/musk-to-mars</strong></div>
            </div>
        </div>
    </div>
    <!--
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    -->
</div>
