<ul class="nav nav-pills flex-column">
    {{#each model.sprints as |sprint|}}
    <li class="nav-item">
        {{#link-to "develop.project.sprint" sprint.id}}
        <div class="title">
            Sprint {{sprint.id}}
        </div>
        {{/link-to}}
        {{#link-to "develop.project.sprint" sprint.id}}
        <div class="description">
            {{sprint.title}}
        </div>
        {{/link-to}}
        <div class="summary text-truncate">       
            {{sprint.description}}
        </div>
        <small class="text-muted">
            {{moment-from-now sprint.created_at}}
        </small>
        {{#each sprint.sprint_states as |sprint_state index|}}

        {{/each}}

    </li>
    {{/each}}
</ul>
