<div class="vertical-align-hold">
    <div class="vertical-align-cell">
        <div class="overview text-center">
            <h1 class="name text-capitalize">Create Project</h1>
            <div class="about">Projects allow talent to showcase skills and receive feedback</div>
        </div>
    </div>
</div>
