<div class="col-md-11 col-sm-12 offset-md-1 offset-sm-0">
{{#if model.sprints}}
<div class="overview">

    <h4 class="about section">
        Sprints
    </h4>

    <div class="list-group rounded text-left">
        {{#each model.sprints as |sprint|}}
            <div class="list-group-item rounded">
                <h3 class="line">{{#link-to "develop.project.sprint" (concat sprint.id "-" sprint.title)}}{{sprint.title}}{{/link-to}}</h3>
                <div class="line">{{sprint.description}}</div>
                <small class="line text-muted">created {{moment-from-now sprint.created_at}}</small>
            </div>
        {{/each}}

    </div>
</div>
{{else}}


        <div class="overview">
            <div class="text-center">
                <h3>No sprints currently in this phase of development</h3>
            </div>      
        </div>


{{/if}}
</div>
