<div class="container">
    <div class="row mt-4 vertical-align">
        <div class="col-md-6 col-sm-12 text-center"><img src="/assets/pitch_idea_small.png" class="img-fluid" alt="Responsive image"></div>
        <div class="col-md-6 col-sm-12 text-left">
            <h3 class="description mt-3 mb-3">Find a job that interests you and <strong>pitch the hiring manager</strong> with a feature or improvement to a project that allows you to demonstrate the skills and experience <strong>listed in the job post</strong></h3>
        </div>
    </div>
</div>
