{{#if params.id}}
    <small class=" col-sm-12 text-center">{{#link-to "develop.roadmap" (query-params id='undefined')}}show all listings{{/link-to}}</small>
    {{#each jobs as |job|}}
        <div class="col-sm-12 col-md-8 offset-md-2">
            {{roadmap-job job=job projects=projects teams=teams refresh="refresh"}}
        </div>
    {{/each}}
{{else}}
    <div id="masonry" class="grid col-md-12" data-masonry='{ "itemSelector": ".grid-item", "percentPosition": true }'>
        {{#each jobs as |job|}}
            <div class="grid-item">    
                {{roadmap-job job=job projects=projects teams=teams refresh="refresh"}}
            </div>
        {{/each}}
    </div>
{{/if}}
