<div class="header pb-1 pt-2">
    <div class="icon circular text-center"><i class="fa {{state.fa_icon}} fa-fw fa-2x" aria-hidden="true"></i></div>
    <div class="info">
        <div class="name text-capitalize">{{state.name}}</div>
        <div class="description">{{state.description}}</div>
    </div>
    <div class="grid">
        <div class="box">
            <div class="instruction pt-2 pb-2">{{state.instruction}}</div>
        </div>
    </div>
</div>
