{{#if job}}
    <small class="col-sm-12 text-center mt-2">{{#link-to "develop.roadmap" (query-params id='undefined')}}show all listings{{/link-to}}</small>
    <div class="col-sm-12 col-md-8 offset-md-2">
        {{roadmap-job job=job projects=projects teams=teams refresh="refresh"}}
    </div>
{{else}}
    {{#if jobs}}
    <div id="masonry" class="grid col-md-12 col-sm-12 col-12" data-masonry='{ "itemSelector": ".grid-item", "percentPosition": true, columnWidth: ".grid-sizer" }'>
         <div class="grid-sizer col-md-4 col-sm-6 col-12"></div>
        {{#each jobs as |job|}}
            <div class="grid-item col-md-4 col-sm-6 col-12"> 
                {{roadmap-job job=job projects=projects teams=teams refresh="refresh" class="grid-item-content"}}
            </div>
        {{/each}}
    </div>
    {{else}}
        <h3 class="col-sm-12 col-md-12 text-center mt-5">No current job listings</h3>
    {{/if}}
{{/if}}
