{{#if model.sprints}}
<div class="full">

    <div class="list-group rounded text-left">
        <div class="list-group-item active rounded">
            <h4>Sprints</h4>
        </div>

        {{#each model.sprints as |sprint|}}
            <div class="list-group-item rounded">
                <h3 class="line">{{#link-to "develop.project.sprint" (concat sprint.id "-" sprint.title)}}{{sprint.title}}{{/link-to}}</h3>
                <div class="line">{{sprint.description}}</div>
                <small class="line text-muted">created {{moment-from-now sprint.created_at}}</small>
            </div>
        {{/each}}

    </div>
</div>
{{else}}
<div class="vertical-align-hold">
    <div class="vertical-align-cell">
        <div class="overview">
            <div class="text-center">
                <h3>No sprints currently in this phase of development</h3>
            </div>      
        </div>
    </div>
</div>
{{/if}}
