<ul class="nav nav-pills flex-column">
    {{#each sortedEvents as |event|}}
    <li class="nav-item">
        {{#if showingProject}}
        <div class="title">
            Sprint {{event.sprint.id}}
        </div>
        <div class="description">
            {{event.sprint.title}}
        </div>
        {{/if}}
        <div class="change">
            {{develop-timeline-compare project=model.project event=event previous_event=(previous "event" event.after)}}
        </div>
        <small class="text-muted">
            {{moment-from-now event.created_at}}
        </small>
    </li>
    {{/each}}
</ul>

