<nav class="col-md-9 offset-md-3 navbar navbar-default navbar-toggleable-md navbar-inverse fixed-top bg-inverse develop">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">

            <div class="dropdown mr-1">
                <button class="btn btn-outline-secondary rounded dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Stages
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    {{#each model.states as |state|}}
                    <button class="dropdown-item">{{state.name}}</button>
                    {{/each}}
                </div>
            </div>

            {{user-logout tagName="li" class="cursor-pointer"}}
        </ul>
    </div>
</nav>
