<div class="col-md-11 col-sm-12 offset-md-1 offset-sm-0">
    <h3><strong>{{sessionAccount.account.first_name}}</strong> {{user-profile-descriptor user_profile=user multiple_lines=true disable_you=true refresh="refresh" class="d-inline"}}</h3>
    {{profile-overview-linkedin complete=user.title refresh="refresh" class="pb-2"}}
</div>

