<div class="description">
    {{#unless complete}}
        {{stacked-icon value="fa-exclamation" icon="fa-circle" size="1" class="d-inline"}} {{user-login-oauth provider="linkedin" text="Connect LinkedIn" as_text=true class="d-inline" refresh="refresh"}} to build credibility with non-specific information
    {{/unless}}
</div>
