<div class="vertical-align-hold">
    <div class="vertical-align-cell">
        <div class="overview">
            <div class="text-center">
                <h3>You've successfully requested a contact information!</h3>
            </div>
        </div>
    </div>
</div>