{{#each comments as |comment|}}
<div class="list-group-item rounded">
    <p class="line">
        <span class="quotation">
            <i class="fa fa-fw fa-1x fa-quote-left" aria-hidden="true"></i> {{comment.comment.text}} <i class="fa fa-fw fa-1x fa-quote-right" aria-hidden="true"></i>
        </span>
        on the {{#link-to "develop.project.sprint.state" (concat comment.project.id "-" comment.project.org "-" comment.project.name) (concat comment.sprint.id "-" comment.sprint.title) (concat comment.next_sprint_state.id "-" comment.next_sprint_state.state_id.name)}}{{comment.next_sprint_state.state_id.name}} phase{{/link-to}} of {{#link-to "develop.project.sprint" (concat comment.project.id "-" comment.project.org "-" comment.project.name) (concat comment.sprint.id "-" comment.sprint.title)}}{{comment.sprint.title}}{{/link-to}}
        {{moment-from-now comment.comment.created_at}}
    </p>

</div>
{{/each}}
