<h4 class="about section">My Roles</h4>
<div class="bg-nav shadow rounded mb-4 p-3">
    {{profile-overview-skillsets-roles-instruction type="roles" text="to subscribe to relevant contribution opportunities" items=roles without_text=true}}
    {{profile-overview-skillsets-roles namespace="users/me" user=user items=roles type="role" class="skillsets"}}
</div>
<h4 class="about section">My Skillsets</h4>
<div class="bg-nav shadow rounded p-3">
    {{profile-overview-skillsets-roles-instruction type="skillsets" text="to subscribe to specific interests" items=skillsets without_text=true}}
    {{profile-overview-skillsets-roles namespace="users/me" user=user items=skillsets type="skillset" class="skillsets"}}
</div>
