<div class="full">
    <div class="list-group rounded text-left">
        <div class="list-group-item active rounded">
            <h4>Comments, Votes, Contributions</h4>
        </div>
    </div>
</div>
