<div class="full">
    <h3>Request Contact</h3>
    <div class="sprint read-{{request.read}} rounded">
        <div class="description">Would you like to request for contact information?</div>
        {{connection-post contact_id}}
    </div>
</div>