<ul class="nav nav-pills flex-column timeline">

    {{#if session.isAuthenticated}}
        {{#if me}}

            {{#link-to "me.notifications" tagName='li' href=false class="cursor-pointer nav-item text-center text-capitalize" }}
                <div class="icon hidden-sm-down">
                    <i class="fa fa-fw fa-2x fa-home"></i>
                </div>
                Home
            {{/link-to}}
        
            {{#link-to "develop.roadmap" tagName='li' href=false class="cursor-pointer nav-item text-center text-capitalize" }}
                <div class="icon hidden-sm-down">
                    <i class="fa fa-fw fa-2x fa-map-o"></i>
                </div>
                Roadmap
            {{/link-to}}

            {{#link-to "me.connections" tagName='li' href=false class="cursor-pointer nav-item text-center text-capitalize" }}
                <div class="icon hidden-sm-down">
                    <i class="fa fa-fw fa-2x fa-handshake-o"></i>
                </div>
                Contacts
            {{/link-to}}

            {{#if sessionAccount.account.admin}}
                {{#link-to "develop.new" tagName='li' href=false class="cursor-pointer nav-item text-center text-capitalize" }}
                    <div class="icon hidden-sm-down">
                        <i class="fa fa-fw fa-2x fa-fire"></i>
                    </div>
                    Create Project
                {{/link-to}}
            {{/if}}
        {{else}}

            {{#link-to "profile.overview" tagName='li' href=false class="cursor-pointer nav-item text-center text-capitalize" }}
                <div class="icon hidden-sm-down">
                    <i class="fa fa-fw fa-2x fa-sort-amount-desc"></i>
                </div>
                Overview
            {{/link-to}}

            {{#unless (eq user.id sessionAccount.account.id)}}
                {{#unless (or (greater-than manager.length 0) (greater-than recruiter.length 0))}}
                    {{#link-to "profile.requests" tagName='li' href=false class="cursor-pointer nav-item text-center text-capitalize" }}
                        <div class="icon hidden-sm-down">
                            <i class="fa fa-fw fa-2x fa-user-plus"></i>
                        </div>
                        Request Contact
                    {{/link-to}}
                {{/unless}}
            {{/unless}}
        
        {{/if}}

    {{/if}}
</ul>
