<ul class="nav nav-pills flex-column timeline">

    {{#if session.isAuthenticated}}

            {{#link-to "me.notifications" (query-params page="undefined") tagName='li' href=false class="cursor-pointer nav-item text-center text-capitalize" }}
                <div class="icon hidden-sm-down">
                    <i class="fa fa-fw fa-2x fa-home"></i>
                </div>
                Home
            {{/link-to}}

        {{#if me}}
            {{#link-to "develop.roadmap" tagName='li' href=false class="cursor-pointer nav-item text-center text-capitalize" }}
                <div class="icon hidden-sm-down">
                    <i class="fa fa-fw fa-2x fa-map-o"></i>
                </div>
                Roadmap
            {{/link-to}}

            {{#link-to "me.connections" tagName='li' href=false class="cursor-pointer nav-item text-center text-capitalize" }}
                <div class="icon hidden-sm-down">
                    <i class="fa fa-fw fa-2x fa-handshake-o"></i>
                </div>
                Contacts
            {{/link-to}}

            {{#if sessionAccount.account.admin}}
                {{#link-to "develop.new" tagName='li' href=false class="cursor-pointer nav-item text-center text-capitalize" }}
                    <div class="icon hidden-sm-down">
                        <i class="fa fa-fw fa-2x fa-fire"></i>
                    </div>
                    Create Project
                {{/link-to}}
            {{/if}}
        {{else}}

            {{#link-to "profile.overview" tagName='li' href=false class="cursor-pointer nav-item text-center text-capitalize" }}
                <div class="icon hidden-sm-down">
                    <i class="fa fa-fw fa-2x fa-sort-amount-desc"></i>
                </div>
                Overview
            {{/link-to}}        
        
        {{/if}}
    {{/if}}
</ul>
