<div class="description">
    {{#unless complete}}
        {{stacked-icon value="fa-exclamation" icon="fa-circle" size="1" class="d-inline"}} Connect your {{user-login-oauth provider="linkedin" text="LinkedIn profile" as_text=true class="d-inline"}} to give others non-specific background information
    {{/unless}}
</div>
