{{#each skillsets as |skillset|}}
    {{#if skillset.active}}
        <span {{action "filterSkillsets" skillset.id}} class="badge badge-default rounded selected cursor-pointer">{{skillset.name}}</span>
    {{/if}}
{{/each}}
