<div class="footprint hidden-sm-down"></div>
<div class="vertical-align-hold">
    <div class="vertical-align-cell">
        <div class="overview text-center">
            <h1 class="name text-capitalize">Contacts</h1>
            <h3 class="about">Make connections with contacts</h3>
        </div>
    </div>
</div>
