<div class="vertical-align-hold">
    <div class="vertical-align-cell">
        <div class="overview text-center">
            <h1 class="name text-capitalize">Notification preferences</h1>
            <h3 class="about">Events you'd like to be notified of</h3>
            <div class="about section text-capitalize">Your Preferences</div>
            <div class="skillsets">
                {{profile-overview-skillsets-roles user=user items=notifications-settings type="notifications-setting" class="skillsets"}}
            </div>
        </div>
    </div>
</div>
