<div class="full">
    <div class="about section">Comments Posted</div>
    <div class="list-group rounded text-left">
        {{profile-overview-feedback items=comments}}
    </div>

    <div class="about section mt-2">Votes Cast</div>
    <div class="list-group rounded text-left">
        {{profile-overview-feedback items=votes}}
    </div>
</div>
