<div id="my-carousel" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
        <li data-target="#my-carousel" data-slide-to="">1</li>
        <li data-target="#my-carousel" data-slide-to="">2</li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <div class="item">
            <iframe src="http://localhost:4200" title="caption" alt="caption"></iframe>
            <div class="carousel-caption">
                caption 
            </div>
        </div>
        <div class="item">                                              
            <iframe src="http://localhost:4200" title="captionb" alt="captionb"></iframe>
            <div class="carousel-caption">                                                                  
                captionb
            </div>                                                                                                                                  
        </div>
    </div>
</div>
