<div id="my-carousel" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
        <li data-target="#my-carousel" data-slide-to="">1</li>
        <li data-target="#my-carousel" data-slide-to="">2</li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <div class="item">
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/ae/Castle_Neuschwanstein.jpg" title="caption" alt="caption" />
            <div class="carousel-caption">
                caption 
            </div>
        </div>
        <div class="item">                                              
            <img src="http://www.castles.org/images/sd2_small.jpg" title="captionb" alt="captionb" />
            <div class="carousel-caption">                                                                  
                captionb
            </div>                                                                                                                                  
        </div>
    </div>

    <!-- removed right and left controls for clarity -->
</div>
