<ul class="nav nav-pills flex-column timeline">
    {{#each sprint_states as |sprint_state|}}
    {{#link-to "develop.project.sprint.state" (concat sprint_state.id "-" sprint_state.state_id.name) tagName='li' href=false class="cursor-pointer nav-item text-center text-capitalize shadow"}}
    <div class="icon hidden-sm-down">
        {{#if has_tooltips}}
        {{tooltip-on-component text=sprint_state.state_id.instruction class="tooltip rounded" side="right" enableLazyRendering=true}}
        {{/if}}
        <i class="fa fa-fw fa-2x {{sprint_state.state_id.fa_icon}}"></i>
    </div>
    {{sprint_state.state_id.name}}
    {{/link-to}}
    {{/each}}
</ul>

