<ul class="nav nav-pills flex-column timeline">
    {{#each sprint_states as |sprint_state|}}
    {{#link-to "develop.project.sprint.state" sprint_state.id tagName='li' href=false class="cursor-pointer nav-item stage text-center text-capitalize" }}
    <div class="icon">
        <i class="fa fa-fw fa-2x {{sprint_state.state.fa_icon}}"></i>
    </div>
    {{sprint_state.state.name}}
    {{/link-to}}
    {{/each}}
</ul>

