<ul class="nav nav-pills flex-column timeline">
    <div class="menu">
        {{#link-to "me" tagName='li' href=false class="cursor-pointer nav-item text-center text-capitalize" }}
        <i class="fa fa-fw fa-user"></i>Profile
        {{/link-to}}
    </div>
    {{#each sprint_states as |sprint_state|}}
    {{#link-to "develop.project.sprint.state" (concat sprint_state.id "-" sprint_state.state_id.name) tagName='li' href=false class="cursor-pointer nav-item text-center text-capitalize" }}
    <div class="icon hidden-sm-down">
        <i class="fa fa-fw fa-2x {{sprint_state.state_id.fa_icon}}"></i>
    </div>
    {{sprint_state.state_id.name}}
    {{/link-to}}
    {{/each}}

    {{application-foot}}
</ul>

