<ul class="nav nav-pills flex-column timeline">
    {{#link-to "develop.project.state" "all" tagName='li' href=false class="cursor-pointer nav-item text-center text-capitalize" }} 
            {{#if has_tooltips}}
            {{tooltip-on-component text="All Sprints" class="tooltip rounded" side="right" enableLazyRendering=true}}
            {{/if}}
            <div class="icon hidden-sm-down"> 
            <i class="fa fa-fw fa-2x fa-circle-o"></i>
            </div>
            All
    {{/link-to}}
    {{#each states as |state|}}
    {{#link-to "develop.project.state" (concat state.id "-" state.name) tagName='li' href=false class="cursor-pointer nav-item text-center text-capitalize" }}
        {{#if has_tooltips}}
        {{tooltip-on-component text=state.description class="tooltip rounded" side="right" enableLazyRendering=true}}
        {{/if}}
        <div class="icon hidden-sm-down">
            <i class="fa fa-fw fa-2x {{state.fa_icon}}"></i>
        </div>
        {{state.name}}
    {{/link-to}}
    {{/each}}
</ul>

