<h3>Your Job Listings</h3>
<div class="about section">Listings that your team has created</div>

{{#each jobs as |job|}}
    <div class="list-group-item rounded"> 
        <h4 class="line">
            {{job.title}}
        </h4>
        <small class="line text-muted">
            Created by {{#link-to "profile" job.user_id}}{{job.first_name}}{{/link-to}} {{moment-from-now job.created_at}}    
        </small>
    </div>
{{/each}}
