<div class="vertical-align-hold">
    <div class="vertical-align-cell">
        <div class="overview text-center">
            <h1 class="name text-capitalize">Create Team</h1>
            <h3 class="about">List jobs and manage talent for {{#if user.company}}{{user.company}}{{else}}Company{{/if}}</h3>
        </div>
    </div>
</div>
