<div class="row">
<div class="col-md-7 col-sm-12 mb-3">
    {{user-team-list team=team user_teams=user_teams share_seat_id=share_seat_id share_seat_name=share_seat_name default_seat_id=default_seat_id default_seat_name=default_seat_name refresh="refresh"}}
</div>

<div class="col-md-5 col-sm-12">
    {{user-team-invite jobs=jobs team=team refresh="refresh" default_seat_id=default_seat_id default_seat_name=default_seat_name class="bg-nav rounded p-3"}}
</div>
</div>
