<div class="footprint hidden-sm-down"></div>
<div class="vertical-align-hold">
    <div class="vertical-align-cell">
        <div class="overview text-center">
            <h1 class="name text-capitalize">Team Contacts</h1>
            <h3 class="about">Share contacts with team</h3>
            <div class="row">
                <div class="col-md-4 offset-md-4 col-sm-4 offset-sm-4 col-4 offset-4">
                    {{sprint-state-overview-score total=team-connections.length title="Connections"}}
                </div>
            </div>
        </div>
    </div>
</div>