{{#if connections}}
<div class="full">
    <h4 class="about section">Team Contacts</h4>
    <div class="list-group rounded text-left">
        {{#each connections as |connection|}}
        <div class="list-group-item rounded highlight-{{notification.read}}">
            <h4 class="line text-capitalize">
                {{#link-to "profile" connection.id}}{{connection.first_name}} {{/link-to}}
            </h4>
            <p class="line"><span class="text-muted">E:</span> {{connection.email}}</p>
        </div>
        {{/each}}
    </div>
</div>
{{else}}
<div class="vertical-align-hold">
    <div class="vertical-align-cell">
        <div class="overview">
            <div class="text-center">
                <h3>No contacts or contact requests</h3>
            </div>
        </div>
    </div>
</div>
{{/if}}
