<div class="vertical-align-hold">
    <div class="vertical-align-cell">
        <div class="overview text-center">
            <h1 class="name text-capitalize">Create Team</h1>
            <h3 class="about">Teams help your organization keep track of talent</h3>
        </div>
    </div>
</div>
