<div class="vertical-align-hold">
    <div class="vertical-align-cell">
        <div class="overview text-center">
            <h1 class="name text-capitalize">Create Team</h1>
            <div class="about">share access to talent with teams</div>
        </div>
    </div>
</div>
