<div class="full">
    {{user-team-invite jobs=jobs team=team refresh="refresh" default_seat=default_seat}}

    {{user-team-list team=team user_teams=user_teams share_seat=share_seat default_seat=default_seat refresh="refresh" class="mt-4"}}
</div>

