<div class="vertical-align-hold">
    <div class="vertical-align-cell">
        <div class="overview">
            <div class="text-center">
                <h3>You've accepted this team's invite!</h3>
            </div>
        </div>
    </div>
</div>
