<ul class="nav nav-pills flex-column timeline">
    {{#if team}}
    
    {{#if (or team.show team.shares)}}
        {{#link-to "me.notifications" tagName='li' href=false class="cursor-pointer nav-item text-center text-capitalize" }}
            <div class="icon hidden-sm-down">
                <i class="fa fa-fw fa-2x fa-home"></i>
            </div>
            Home
        {{/link-to}}
    {{/if}}

    {{#if team.show}}
        
        {{#if (eq team.plan.name "manager")}}
        {{#link-to "team.select.jobs" tagName='li' href=false class="cursor-pointer nav-item text-center text-capitalize" }}
            <div class="icon hidden-sm-down">
                <i class="fa fa-fw fa-2x fa-briefcase"></i>
            </div>
            Jobs 
        {{/link-to}}
        {{/if}}

        {{#link-to "team.select.notifications" tagName='li' href=false class="cursor-pointer nav-item text-center text-capitalize" }}            
            <div class="icon hidden-sm-down">
                <i class="fa fa-fw fa-2x fa-paper-plane-o"></i>
            </div>
            Notifications
        {{/link-to}}
    
        {{#link-to "team.select.members" tagName='li' href=false class="cursor-pointer nav-item text-center text-capitalize" }}
            <div class="icon hidden-sm-down">
                <i class="fa fa-fw fa-2x fa-users"></i>
            </div>
            Members
        {{/link-to}}

        {{#link-to "team.select.talent" tagName='li' href=false class="cursor-pointer nav-item text-center text-capitalize" }}
            <div class="icon hidden-sm-down">
                <i class="fa fa-fw fa-2x fa-cogs"></i>
            </div>
            Talent
        {{/link-to}}

        {{#if (eq team.plan.name "recruiter")}}
            {{#link-to "team.select.shares" tagName='li' href=false class="cursor-pointer nav-item text-center text-capitalize" }}
                <div class="icon hidden-sm-down">
                    <i class="fa fa-fw fa-2x fa-share-alt"></i>
                </div>
                Shares 
            {{/link-to}}
        {{/if}}

        {{#if sessionAccount.account.admin}}
        {{#link-to "team.select.owners" tagName='li' href=false class="cursor-pointer nav-item text-center text-capitalize" }}
            <div class="icon hidden-sm-down">
                <i class="fa fa-fw fa-2x fa-users"></i>
            </div>
            Owners
        {{/link-to}}
        {{/if}}

    {{else if team.shares}}
        {{#link-to "team.select.leads" tagName='li' href=false class="cursor-pointer nav-item text-center text-capitalize" }}
            <div class="icon hidden-sm-down">
                <i class="fa fa-fw fa-2x fa-share-alt"></i>
            </div>
            Leads
        {{/link-to}}
    {{/if}}

    {{/if}}

</ul>
