<div class="vertical-align-hold mb-4">
    <div class="vertical-align-cell">
        <div class="overview text-left">
            <h4 class="about section">Notifications</h4>
            <div class="list-group rounded text-left">
                <div class="list-group-item rounded shadow highlight-{{notification.read}}">
                    <p class="line"> 
                        <strong>A Lead Developer in Telecommunications, <i class="fa fa-map-marker" aria-hidden="true"></i> New York, NY</strong> commented on the <strong>Requirements Review</strong> phase of <strong>implement /users/:id/jobs endpoint</strong>
                    </p>
                    <p class="line quotation">
                        <i class="fa fa-fw fa-1x fa-quote-left" aria-hidden="true"></i>Changing the LEFT JOIN to INNER JOIN in the user search should make the query more efficient (and ultimately yield faster search responses)<i class="fa fa-fw fa-1x fa-quote-right" aria-hidden="true"></i>
                    </p>
                    <small class="line text-muted">
                        7 minutes ago 
                    </small>
                </div>
                <div class="list-group-item rounded shadow highlight-{{notification.read}}">
                    <p class="line">
                        <strong>A Senior Quality Engineer in Financial Services, <i class="fa fa-map-marker" aria-hidden="true"></i> San Francisco Bay Area</strong> commented on the <strong>Requirements Review</strong> phase of <strong>implement /users/:id/jobs endpoint</strong>
                    </p>
                    <p class="line quotation">
                        <i class="fa fa-fw fa-1x fa-quote-left" aria-hidden="true"></i>There's a few missing scenarios around access control in the spec tests for this proposal that should not be ignored. I would make sure those are covered before moving forward.<i class="fa fa-fw fa-1x fa-quote-right" aria-hidden="true"></i>
                    </p>  
                    <small class="line text-muted">
                        32 minutes ago 
                    </small>
                </div>
            </div> 
        </div>
    </div>
</div>
