
{{#if (or (eq default_seat.name "sponsored") (eq default_seat.name "priority"))}}
    <h3>Invite Talent</h3>
    <div class="about section">Send email invitations to talent that you'd like to be evaluated on Wired7.  We'll make sure you're up-to-date on feedback that the people you invite receive.</div>
{{else if (eq default_seat.name "member") }}
    <h3>Invite Your Co-Workers as Team Members</h3>
    <div class="about section">Send email invitations to coworkers that that you'd like to share talent and contacts with.</div>
{{else}}
    <h3 class="text-capitalize">Invite {{default_seat.name}}</h3>
{{/if}}

{{user-team-share-invite default_seat=default_seat team=team jobs=jobs refresh="refresh"}}

