<div class="vertical-align-hold">
    <div class="vertical-align-cell">
        <div class="overview text-left">
            <div class="graphic_hold hidden-sm-down">
                <div class="graphic flow"></div>
            </div>
            <div class="graphic_hold hidden-md-up">
                <div class="graphic flow"></div>
            </div>
        </div>
    </div>
</div>
