<div class="vertical-align-hold">
    <div class="vertical-align-cell">
        <div class="overview text-center">
            {{#unless params.section}}
            <div class="feedback_graphic_hold hidden-sm-down">
                <div class="feedback_graphic"></div>
            </div>
            {{/unless}}
            {{#if (eq params.section "sprint")}}
                <div class="feedback_graphic_hold hidden-sm-down">
                    <div class="sprint_graphic"></div>
                </div>
            {{/if}}

            {{#if (eq params.section "profile")}}
                <h3 class="description mt-3 p-4 feedback text-left">
                    <div class="line quotation about mb-1">
                        <i class="fa fa-fw fa-1x fa-quote-left" aria-hidden="true"></i>There's a few missing scenarios around authentication in the spec tests for this proposal that should not be ignored.<i class="fa fa-fw fa-1x fa-quote-right" aria-hidden="true"></i>
                    </div>
                    <div class="tag d-inline">- Director of Engineering in Network Security, <i class="fa fa-map-marker" aria-hidden="true"></i> San Francisco</div>
                </h3>
            {{/if}}
        </div>
    </div>
</div>
