<li class="cursor-pointer nav-item text-center text-capitalize" {{action 'logout'}}>
    <div class="icon hidden-sm-down">
        <i class="fa fa-fw fa-2x fa-sign-out"></i>
    </div>
    Sign Out
</li>
