w7: {{session.data.authenticated.access_token}}
github: {{session.data.authenticated.github_token}}
<a {{action 'login'}} class=""><i class="fa fa-github" aria-hidden="true"></i> Sign In With Github</a>
