<form class="login-form" {{action 'login' on="submit"}}>


    {{input type="email" value=email placeholder="Email" class="form-control"}}
    {{input type="password" value=password placeholder="Password" class="form-control"}}

    <button type="submit" class="btn btn-outline-secondary">Sign In</button>
    {{ link-to 'Forgot?' index }}
</form>
