<div class="modal" id="register-modal" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded">
            <div class="modal-header">
                <div class="title">
                    There's an issue with your invitation!
                </div>
            </div>
            <div class="modal-header subtitle">
                <div class="text-light">
                    This invitation appears to be
                    {{#if invitation.expired}}
                        expired.  Use the button below and we'll send you a new one.
                    {{else}}
                        invalid.
                    {{/if}}
                
                </div>
            </div>
            <div class="modal-body">

            {{#if invitation.expired}}
                {{#if showResend}}
                    <form class="register-form">
                        <button {{action "resend" token}} type="submit" class="btn btn-info btn-lg rounded btn-block">Resend</button>
                    </form>
                {{/if}}
            {{/if}}

            {{application-error error=message}}

            </div>

            <div class="modal-foot rounded-bottom text-center cursor-pointer">{{#link-to "register" class="text-light"}}Cancel{{/link-to}}</div>
        </div>
    </div>
</div>
