<div class="vertical-align-hold">
    <div class="vertical-align-cell">
        <div class="overview">
            <h1 class="name text-capitalize">An Agile Job Search</h1>
            <h3 class="description mt-3 mb-3">It's hard to get your foot in the door when you don't know what a hiring manager wants to see. Even the best resumes and cover letters can be overlooked.</h3>
            <h3 class="description mt-3 mb-3">Wired7 helps <strong>qualified</strong> job seekers demonstrate relevant experience to hiring managers through <strong>project development</strong>.</h3>  
            <h3 class="description mb-4">
                Use Wired7 to
                {{#if (or (greater-than manager.length 0) (greater-than recruiter.length 0))}}
                    <strong>effortlessly identify</strong> ambitious, talented <strong>candidates</strong> for open positions.
                {{else}} 
                    <strong>get noticed</strong> by hiring managers responsible for positions you're interested in.
                {{/if}}
            </h3>

            <h3 class="about mt-4 text-left">
                {{#link-to "welcome.identify"}}Continue{{/link-to}}
            </h3>
        </div>
    </div>
</div>
