<div class="modal" id="register-modal" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded">
            <div class="modal-header">
                <div class="title">Password Reset</div>
            </div>                                                  
            <div class="modal-header subtitle">                                 
                <div class="text-muted">Reset your Wired7 account password</div>
            </div>                                                                                              
            <div class="modal-body">                               
                <form {{action 'reset' on="submit"}} class="register-form">
                    <div class="text-center">
                        {{#if errorMessage}}<div class="alert alert-warning rounded text-center">{{errorMessage}}</div>{{/if}}
                        {{input type="email" value=email placeholder="Email" class="form-control input-lg rounded"}}

                        <button type="submit" class="btn btn-info btn-lg btn-block rounded">Reset</button>
                    </div>
                </form>
            </div>                                                                                                          
            <div class="modal-foot rounded-bottom text-center text-muted cursor-pointer">{{#link-to "index" class="text-muted"}}Cancel{{/link-to}}</div>
        </div>
    </div>                                                                                                                              
</div>
