{{develop-timeline model=model showingProject=true}}
<main class="col-sm-12 col-md-8 offset-md-4 pt-3">
<div class="container-fluid">
    {{develop-nav model=model showingProject=true}}
    <div class="row">
        <div class="col-sm-12 col-md-12 develop">
            {{develop-issues model=model}} 
        </div>
    </div>
</div>
</main>
