<div class="container-fluid pl-0 pr-0">
<nav class="col-md-1 bg-faded sidebar hidden-sm-down">
    {{sprint-state-list sprint_states=model.sprint_states}}
</nav>
<nav class="col-md-1 bg-faded sidebar hidden-md-up">
    {{develop-issue-transition sprint=model.sprint states=model.states class="transition"}}
</nav>
<main class="col-sm-12 col-md-12 offset-sm-0 pl-0 pr-0">
{{outlet}}
</main>
</div>
