<div class="container-fluid pl-0 pr-0">
<nav class="col-sm-12 col-md-1 bg-faded sidebar">
    {{sprint-state-list sprint_states=model.sprint.sprint_states}}
</nav>
<main class="col-sm-12 col-md-11 offset-sm-1 pl-0 pr-0">
    {{outlet}}
</main>
</div>
